# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives**
-list popular languages for data science
-list common libraries for use in data science
-list common data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. Matplotlib

| Data Science Tools |
|----------|
|Weka|
|Tensorflow.js|
| MLlib|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [3]:
(3*4)+5

17

In [ ]:
This will convert 200 minutes to hours by diving by 60

In [10]:
(200/60)+0

3.3333333333333335

## Author
Leigh Ann H.